<div class="col-10 offset-1">
	<h1>About Random Quote Generator</h1>

	  <p>
    Random Quote Generator was built by <a target="_blank" href="http://github.com/thirdeyeclimber">Michael Day</a>, a budding web developer who is aiming to provide intuitive access to education and an engaging environment to practice turning ideas into reality.
  </p>
  <br />
  <p>
    Michael has a long and wide-ranging experience working with computers. From tinkering with custom built computers to modifying Microsoft Xboxs in order to watch movies from the local network -- He has always had an interest in technology. In between writing programs and developing web apps, Michael enjoys commuting via e-bike, running like a buck in the foothills, and climbing like a monkey on rocks. He only takes breaks from learning and practicing new skills to share with others. Michael is a master of enthusiasm, advocate for personal growth and, values self-empowerment.
  </p>
  <p>
    Say hello on <a target="_blank" href="https://twitter.com/Thirdeyeclimber">Twitter</a>!
  </p>

  <div class="row">
  	<div class="col-sm-4 col-md-4">
  		<%= image_tag 'michael.jpg', class: 'img-fluid' %>
  	</div>
  	<div class="col-sm-7 offset-sm-1" style="padding-top: 30px;">
  		<h2 class="text-center">Michael Day</h2>
  		<br />
  	</div>
  </div>
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>