<div class="col-10 offset-1">
	<h1>About Random Quote Generator</h1>

	  <p>
    Random Quote Generator was built by <a target="_blank" href="http://github.com/thirdeyeclimber">Michael Day</a>, a web developer on a mission to give people the most intuitive and engaging environment to practice turning ideas into reality.
  </p>
  <br />
  <p>
    Michael is a fine young man that lives and works in Boulder, CO. He enjoys commuting via ebike, running in the foothills, and teaching people how to climb rocks. He only takes breaks from learning and practicing new skills to educate others. Michael is a master of enthusiasm, advocate for personal growth and, above all, values self-empowerment through education.
  </p>
  <p>
    Say hello on <a target="_blank" href="https://twitter.com/Thirdeyeclimber">Twitter</a>!
  </p>

  <div class="row">
  	<div class="col-12 col-sm-4">
  		<%= image_tag 'michael.jpg', class: 'img-fluid' %>
  	</div>
		<br />
  	<div class="col-12 col-sm-7 offset-sm-1" style="padding-top: 30px;">
  		<h2 class="text-center">Michael Day</h2>
  		<br />
  	</div>
  </div>
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>