@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


.clear {
	clear: both;
}

.circle {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-style: italic;
	position: relative;
	border-radius: 100%;
	background: #014B8C;
	border: 1px solid #f7f7f7;
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
	transform: rotate(11deg); 
	-ms-transform: rotate(11deg);	/* IE 9 */
	-webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

h1 {
	font-family: 'quicksandbold';
	font-weight: bold;
	border-bottom: solid;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	font-family: 'Indie Flower', cursive;
	font-style: italic;
	text-align: right;
}

.slogan {
	padding-top: 26px;
	font-family: 'Indie Flower', cursive;
	font-style: italic;
	font-size: 20px;
}

.links {
	padding-top: 26px;
}

.links a {
	font-family: 'quicksandregular', bold;
	color: black;
	font-size: 25px;
	border: solid;
	border-width: 2px;
	border-radius: 5%;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	background: grey;
}

.header {
	border-top: 9px solid #222222;
}

hr {
	clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.next-quote {
  font-family: 'quicksandregular', bold;
	color: black;
	font-size: 25px;
	border: solid;
	border-width: 2px;
	border-radius: 5%;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	background: grey;
}

.footer-blurb {
	
	font-family: 'Indie Flower', cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	border: dashed;
	border-radius: 5px;
}
